.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5vh;
  margin-top: 10vh;
  margin-bottom: 10vh;
}

.voice {
  width: 100px;
  height: 100px;
  background-image: url(../asset/Speaker_Icon.svg);
  background-size: contain;
  background-repeat: no-repeat;
  filter: invert(30%) sepia(20%) saturate(13%) hue-rotate(14deg) brightness(97%) contrast(88%);
  cursor: pointer;
  transition: .5s;
}

.voice:hover {
  filter: invert(0%) sepia(0%) saturate(7489%) hue-rotate(296deg) brightness(94%) contrast(103%);
}

.words-to-guess {
  display: flex;
  gap: 20px;
  list-style: none;
  cursor: pointer;
}

.word-to-guess {
  padding: 10px;
  transition: .5s;
}

.word-to-guess:hover {
  background-color: #bababa;
}

.next-word {
  background: transparent;
  border: 1px solid #cdcdcd;
  padding: 10px 20px;
  box-shadow: 5px 5px 2px 1px rgba(56, 56, 56, 0.2);
  color: #968659;
  cursor: pointer;
}

.next-word:hover {
  box-shadow: none;
}